/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

$max-theme-container-width: 1440px;
$max-content-container-width: 1176px;
$icon-margin: 10px;

//colors
$green1: #93be38;
$green2: #85ae2f;
$grey1: #333333;
$grey2: #f4f4f4;
$grey3: #aeaeae;
$grey4: #212121;
$transparent-text-bg-color: rgba(51, 51, 51, 0.75);
$white: #ffffff;

$box-shadow-grey: 0px 4px 4px 0px #d8d8d8;
$base-font-size: 16px;
$base-line-height: 30px;

/* Namespace custom styles */
.commitment2050 {
	//Lf fixes
	@import "lf_customizations";
	@import "extension_text_align";
	@import "common_helpers";
	@import "fonts";

	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 30px;
	//hyphens: auto;
	color: $grey1;

	.main-content-area {
		position: relative;
	}
	.area-padding {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	h1 {
		font-size: 36px;
	}
	h2,
	.logotext {
		font-size: 20px;
		line-height: 27px;
		font-weight: bold;
		color: $grey4;
	}

	a {
		color: $green1;
		font-weight: 700;
		&:hover {
			text-decoration: none;
		}
	}

	.facebook-icon > .taglib-text {
		color: #337ab7;
	}

	.two-columns {
		column-count: 2;
		column-gap: 100px;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		a {
			column-span: all;
		}
	}

	#wrapper {
		padding: 0;
	}

	//Max content area width
	.container {
		max-width: $max-content-container-width;
		width: 100%;
		&.outer-container {
			max-width: $max-theme-container-width;
			p {
				margin-bottom: 0;
				margin-top: 0;
			}
			h2 {
				padding: 10px;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}

	.infopopup {
		&.collapse.width,
		&.collapsing {
			height: auto;
			overflow: hidden;
			-webkit-transition: width 0.25s ease;
			-moz-transition: width 0.25s ease;
			-o-transition: width 0.25s ease;
			transition: width 0.25s ease;
		}

		position: absolute;
		top: 40px;
		right: 0;
		z-index: 100;
		max-width: 490px;
		.panel-body {
			padding: 5px 21px 15px 32px;
		}
		.close-button {
			background-color: #f4f4f4;
			height: 40px;
			width: 40px;
			padding: 10px;
			border-radius: 40px;
			margin: 15px 0 0;

			.close {
				background-image: lx-icon(times, #000);
				background-size: contain;
				display: inline-block;
				height: 20px;
				width: 20px;
			}
		}
		h2 {
			font-size: 26px;
			font-weight: 600;
		}
		p {
			font-size: 14px;
		}
		a {
			display: inline-block;
			padding: 8px 10px;
			color: #fff;
			background-color: #93be38;
			font-size: 12px;
			text-transform: uppercase;
			border-radius: 2px;
			width: 200px;
			text-align: center;
			margin-top: 15px;
		}
	}

	.quicklinks {
		color: $white;
		min-height: 55px;
		background: $green1;

		display: flex;
		align-items: center;

		a,
		a:hover {
			color: #fff;
			text-decoration: none;
			font-weight: normal;
		}
		.glyphicon-globe {
			margin-right: $icon-margin;
		}
		.glyphicon-user {
			margin-left: $icon-margin;
		}

		.logout {
			margin: 0 20px;
		}
		.make-commitment {
			background-color: $grey2;
			height: 55px;
			width: 200px;
			color: $green1;
			align-items: center;
			display: flex;
			justify-content: center;
			text-transform: uppercase;
		}
	}

	#banner {
		display: flex;
		align-items: center;

		min-height: 80px;
		box-shadow: $box-shadow-grey;

		//Main navigation
		button.navbar-toggler {
			background-color: transparent;
			border: none;
		}
		@media (min-width: $screen-sm-min) {
			.navbar-toggler {
				display: none;
			}
		}
		.portlet {
			margin: 0;
			padding: 0;
		}
		.navbar {
			min-height: 0;
			margin-bottom: 0;
			ul {
				//list-style-type: none;
				@media (min-width: $screen-sm-min) {
					float: right;
				}
				li {
					//padding: 10px;
					//float: left;
					a {
						color: $grey1;
						font-size: 16px;
						font-weight: normal;
						//display: block;
						font-weight: normal;
						background-color: $white;

						.lexicon-icon {
							height: 14px;
						}
						&:hover,
						&:focus {
							background-color: $white;
						}
					}
					&.selected a {
						color: $green1;
						text-decoration: underline;
					}
				}
				&.dropdown-menu {
					border-width: 1px;
					box-shadow: $box-shadow-grey;
					max-height: 295px;
					overflow: auto;
					border-color: $green1;
					width: auto;

					li {
						a {
							background-color: $white;
							text-decoration: none;
							color: $grey1;
						}
						&.selected a {
							color: $green1;
						}
					}
				}
			}
		}
		.navbar-collapse.collapse.in {
			box-shadow: $box-shadow-grey;
		}
	}
	#footer {
		padding-top: 50px;
		padding-bottom: 80px;

		background-color: $grey1;
		min-height: 445px;
		color: $white;
		margin-top: 100px;
		&.frontpage {
			margin-top: 0;
		}
	}

	.bg-grey {
		background-color: $grey2;
	}
	.bg-green {
		background-color: $green1;
	}

	//Components
	.title-info-row {
		h2 {
			color: $grey4;
			small {
				font-size: 14px;
				color: $grey4;
			}
		}
		a {
			margin-top: 20px;
			margin-bottom: 10px;
			text-align: right;
			display: block;
		}
	}
	.text-image-article {
		background-color: $white;
		.col-md-7 {
			padding: 45px 35px;
		}
		@media (min-width: $screen-md) {
			img {
				//fix no gutters gap
				margin-left: 8px;
			}
		}
	}

	.modal-dialog {
		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}

	.image-link {
		height: 200px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		a {
			display: inline-block;
			color: $white;
			background: $transparent-text-bg-color;
			width: auto;
			position: absolute;
			right: 7%;
			top: 125px;
			padding: 0 20px;
		}
	}

	.lift {
		background: $white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		.imagetext {
			display: block;
			position: absolute;
			bottom: 0;
			width: 100%;
			color: white;
			background: $transparent-text-bg-color;
			padding: 0 20px;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 600;
		}

		.textcontent {
			background: $white;
			padding: 0 20px 20px;
			display: block;
			float: left;
			width: 100%;
			min-height: 175px;
			@media (min-width: $screen-md-min) {
				height: 204px;
			}

			h2 {
				color: $grey3;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 400;
			}
			p {
				font-weight: 700;
			}
			a {
				float: right;
				margin-top: 10px;
				font-size: 14px;
				font-weight: 600;
			}
		}
	}

	.person {
		color: $white;

		h2 {
			font-size: 32px;
			color: $white;
		}
		p {
			font-style: italic;
		}
		img {
			width: 90%;
			margin: 0 auto;
		}
		.organization,
		.link-to-commitment {
			font-weight: 700;
			font-size: 14px;
		}
		a {
			color: $white;
		}
	}

	.goals {
		box-shadow: $box-shadow-grey;
		border-left: 1px solid $grey2;
		border-top: 1px solid $grey2;

		.goal {
			height: 291px;
			border-right: 1px solid $grey2;
			border-bottom: 1px solid $grey2;
			text-align: center;
			padding: 40px 20px 20px;
			&:hover {
				background-color: $grey2;
			}

			img {
				height: 60px;
			}
			h2 {
				font-size: 14px;
				font-weight: 600;
				line-height: 20px;
				color: $grey1;
			}
			p {
				font-size: 12px;
				line-height: 17px;
				color: $grey3;
			}
		}
	}

	.flex-vertical-align {
		display: flex;
		align-items: center;
	}

	.flex-justify-end {
		justify-content: flex-end;
	}

	.navbar-inner-height {
		height: 55px;
	}

	.commitment-container {
		min-height: 1000px;
		background: white;
	}

	.inline-block {
		display: inline-block;
	}

	.commitment-statistics {
		ul {
			float: left;
			display: block;
			list-style: none;
			padding: 0 40px;

			@media (min-width: $screen-md) {
				float: none;
				display: flex;
				justify-content: center;
			}
			li {
				padding: 0 8px;
				font-size: 14px;
				width: 100%;
				span {
					font-size: 30px;
					color: $green1;
					margin-right: 20px;
				}
				a {
					line-height: 36px;
				}
			}
			li:nth-child(5) {
				max-width: 140px;
			}
		}
	}

	@import "carousel";
	@import "someshare";
}

#portalMessageContainer {
	display: none !important;
}

.signed-in .hide-if-loggedin {
	display: none !important;
}
