.someshare_container {
  margin: 0 0 10px;
  display: flex;
  .someshare {
    vertical-align: top;
    margin-right: 30px;
    text-align: center;

    .share-count {
      margin-top: 3px;
      font-size: 12px;
    }
    .share-button {
      cursor: pointer;
      &:hover:not(:active) {
        opacity: 0.75;
      }
    }
  }
}
